body {
  background-color: #0d1117;
  color: #fff;
  font-family: "Segoe UI", sans-serif;
  overflow-x: hidden;
}

a {
  text-decoration: none;
}

@media (max-width: 768px) {
  h1 {
    font-size: 28px;
  }

  .lead {
    font-size: 15px;
  }

  .container {
    padding-left: 20px;
    padding-right: 20px;
  }
}